// Vendors

@import "vendors/bootstrap/_bootstrap";
@import "vendors/font-awesome/_font-awesome";

// Base
@import "base/_theme-default";
@import "base/_typography";

// Helpers

@import "helpers/_functions";
@import "helpers/_helpers";
@import "helpers/_mixins";
@import "helpers/_variables";

// Layout

@import "layout/_header";
@import "layout/_sidebar";
@import "layout/_footer";

// Components
@import "components/_buttons";
@import "components/_carousel";
@import "components/_comment";
@import "components/_forms";
@import "components/_nav";
@import "components/_card";
@import "components/_modal";

// Pages

@import "pages/_home";
@import "pages/_news";
@import "pages/_cast";
@import "pages/_movie";