.nav-pills {
    .nav-link.active,
    .show > .nav-link {
      color: $nav-pills-link-active-color;
      background-color: $body-bg;
      border-left: 5px solid $nav-pills-link-active-bg;
    }
  }
  