.movie-social {
    margin: 20px 0;
    
    a {
        font-size: 1.3rem;
        padding-right: 20px;

        &:hover {
            text-decoration: none;
        }
    }
}

.movie-rate {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid #405266;
    border-bottom: 1px solid #405266;
    margin-top: 40px;
    margin-bottom: 70px;

    i {
        color: $yellow;
        font-size: 1.8rem;
    }

    &__point {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        p {
            margin-bottom: 0;
            margin-left: 10px;
            font-size: 11px;
            color: #abb7c4;

            span {
                color: #fff;
                font-size: 15px;
                font-weight: 400;
            }

            span.rv {
                font-size: 12px;
                color: #4280bf;
            }
        }
    }

    &__rate-star {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 10px;
        border-left: 1px solid #405266;
        padding-left: 15px;
        height: 54px;

        p {
            color: #abb7c4;
            margin: 0 10px;
        }
    }
}

.movie-nav-tabs {

    margin-top: 70px;
        
    .tab-content {
        padding: 20px 0;
    }

    .nav-tabs {
        border-bottom-color: $primary;
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      color: $white;
      background-color: $nav-tabs-link-active-bg;
      border-color: $primary $primary $nav-tabs-link-active-bg;
    }

    .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
        border-color: $primary;
    }
}

.movie-poster {

    img {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30),
                    0 15px 12px rgba(0,0,0,0.22);
                    margin-bottom: 30px;
        transition: all .3s;
    }
}

// Movie watching

.movie-wrap {
    padding: 100px 0 0 0;
}

.movie-watching {
    margin: 0 auto;

    &__title {
        font-size: 1.4rem;
        margin-top: 20px;
        line-height: 2rem;
    }

    &__view-count {

        span {
            font-size: 1.2rem;
        }
    }
}