.movie-social {
    margin: 20px 0;
    
    a {
        font-size: 1.3rem;
        padding-right: 20px;

        &:hover {
            text-decoration: none;
        }
    }
}

.movie-rate {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid #405266;
    border-bottom: 1px solid #405266;
    margin-bottom: 70px;
}