/*
* Sidebar
*/

.sidebar {
    background: #222;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 0;
    overflow: hidden;
    width: 150px;

    .nav {
        margin-bottom: 20px;
    }

    .nav-item {
        width: 100%;

        + .nav-item {
            margin-left: 0;
        }
    }

    .nav-link {
        border-radius: 0;
        font-size: 1em;
        padding: 30px 0;
        text-align: center;
        text-transform: uppercase;
        border-left: 5px solid rgba(0,0,0,0);
    }

    &__brand {
        background: #393939;
        width: 150px;
        height: 100px;
        font-size: 36px;
        line-height: 96px;
        text-align: center;
        font-weight: bold;

        @extend .d-block;
        
        &:hover {
            text-decoration: none;
        }
    }

    &__icon {
        @extend .d-block;
        margin-bottom: 10px;

        i {
            font-size: 48px;
        }
    }
}